.kasa-banner {
	color: black;
	padding: 32px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
}

.kasa-nav {
	padding-left: 32px;
	text-decoration: none;
	color: #F66A6D;
}

.kasa-logo {
	height: auto;
	width: 180px;
}

