.product-list {
 display: flex;
 max-width:100%;
 margin: 30px;
 justify-content: center;
 align-items: center;
}

.product-background {
  width: 100%;
  margin: 0 auto;
  display: grid;
  gap: 10px;
  padding: 50px;
  background-color: #f7f7f6;
  border-radius: 20px;
  justify-content: center;
}

  @media (min-width: 400px) {
    .product-background { grid-template-columns: repeat(1, 1fr); }
  }

  @media (min-width: 1200px) {
    .product-background { grid-template-columns: repeat(2, 1fr); }
  }

  @media (min-width: 1400px) {
    .product-background { grid-template-columns: repeat(3, 1fr); }
  }