.kasa-head {
	display: flex;
	justify-content: center;
}

.kasa-banner {
	color: black;
	padding: 30px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	width: 90%;
}

.kasa-block {
	display: flex;
	gap: 32px;
}

.kasa-nav {
	text-decoration: none;
	color: #F66A6D;
}

.kasa-logo {
	height: auto;
	width: 180px;
}

@media (max-width: 700px) {
	.kasa-logo {
		width: 110px;
	}

	.kasa-block {
		gap: 10px;
	}
}
